@import './tilda-design-system/main.scss';

body {
    background-color: #fff;
    background-image: radial-gradient(circle, #000 2%, transparent 10%), radial-gradient(circle, #000 2%, transparent 10%);
    background-size: 20px 20px;
    background-position: 0 0, 0 0;
}